#form-new-node{
  width: 100%;
}

.conteiner__new-textarea{
  width: 40%;
  position: relative;
}

#new-textarea{
  width: 100%;
  aspect-ratio: 3/2;
  box-sizing: border-box;
}

.button__new-textarea{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.button__old-textarea{
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: wheat !important;
}


.button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0);
}

#conteiner__olds-textarea{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.conteiner__old-textarea{
  margin-bottom: 50px;
  width: 40%;
  position: relative;
  border: 1px solid black;
}